# xtool开发规则

### 通用规则

1. 所有代码必须使用 ESLint 检查，确保代码质量。
2. 所有代码必须使用 Prettier 格式化，确保代码风格一致。
3. 单个文件中的代码行数不得超过400行，如果超过，请封装或抽离部分逻辑到其他文件。
4. 优先使用ts完成开发，如果ts无法满足需求，可以考虑使用js。


### 项目开发规则
1. 所有输入框后面跟着查询，读取，翻译等动作的，在按下enter键后都能触发这些动作。
2. 所有需要调用后端接口来删除的，必须确认用户是否真的要删除，并给出确认提示，确认后方可删除。
3. 在做大的变更后，也需要通过改动readme文件。
4. 添加在electron中添加新模块时,不能再main.ts中直接注册ipc事件处理函数，必须在新建模块中建立一个event.ts注册，然后通过event/index.ts文件引入到main.ts中,参考clipboard。


## 新建快捷键

1. 当添加新的快捷键时，必须在快捷键管理界面（renderer/src/page/shortcuts/ShortcutsPanel.tsx）中同步实现对应的管理逻辑。
2. 为新增快捷键实现完整的管理操作（显示、编辑），同时生成快捷键功能描述。
3. 在electron/src/shortcuts/event.ts中注册新的快捷键事件处理函数。
4. 为新增快捷键实现其应触发的全部动作逻辑，确保行为可正常执行。
5. 不能！！！将快捷键的注册逻辑分散在其他地方


## 应用配置中新增配置项

1. 新增字段时，须在appsetting表中新增字段，并给出字段的描述。
2. 须在store/useAppStore.ts中的appConfig新增该字段。
