PY_CHAT_HOST=0.0.0.0
PY_CHAT_PORT=5298
PY_CHAT_CORS_ORIGIN=*
PY_CHAT_PUBLIC_BASE_URL=http://localhost:5298
PY_CHAT_UPLOAD_DIR=../server/uploads/chat
PY_CHAT_DEFAULT_ROOM=public

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=xtool_db

JWT_SECRET=your_jwt_secret_key
